graft mcts/atoms
graft mcts/webapi_tests/semiauto/static
include mcts/config.json
include mcts/report/report.css
include mcts/webapi_tests/app_management.js
recursive-include mcts/certsuite/expected_omni_results *
recursive-include mcts/certsuite/expected_permissions_results *
recursive-include mcts/certsuite/expected_webapi_results *
recursive-include mcts/certsuite/html_output *
recursive-include mcts/certsuite/static *
