fxos-appgen == 0.5
marionette_client == 0.8.1
marionette_extension == 0.4.3
mozdevice == 0.39
mozlog == 2.2.1
moznetwork == 0.24
mozprocess == 0.19
py == 1.4.20
wptserve == 1.1
wptrunner == 0.3.13
mozrunner == 6.2
moztest == 0.6
sphinx
tornado == 4.0
