fxos-appgen == 0.15
gaiatest == 0.33
marionette_driver == 0.13
marionette_client == 0.17
marionette_extension == 0.4.9
mozdevice >= 0.45
mozlog >= 2.1
moznetwork >= 0.24
mozprocess >= 0.18
mozprofile >= 0.21
mozrunner >= 6.1
moztest >= 0.6
py == 1.4.20
sphinx
tornado >= 3.2
wptrunner == 1.4
wptserve >= 1.0.1
diff_py >= 0.0.11
