body {
  font-family: 'DejaVu Sans', 'Sans';
  font-size: 14px;
}
:link { text-decoration: none }
.condition {
  font-variant: small-caps;
  color: white !important;
  text-align: center;
  font-size: 1.1em;
  width:5em;
}
.PASS { background-color: green }
.FAIL { background-color: red }
.OK { background-color: lightgreen }
.SKIP {
  text-decoration: line-through;
  background-color:cadetblue;
}
.TIMEOUT { background-color: blue }
.ERROR { background-color: purple }
.log_ERROR {
  color:orange;
}
.log_CRITICAL { color:red }
.message { font-family: "DejaVu Sans Mono", Monospace }
table {
  border-spacing: 0;
  border-collapse: collapse;
}
th {
  padding:0.5em 1em 0.5em 1em;
  background-color: #ddd;
  font-weight: bold;
  font-size: 1.2em;
}
td {
  padding: 0.5em;
  border-top: thin solid #fff;
  border-bottom: thin solid #fff;
}
td > a {
  display: inline-block;
  height:100%;
  width:100%;
}
.details { text-align:center }
table#errors tr { background-color: white; }
td.parent_test { font-family: "DejaVu Sans Mono", Monospace; }
td.parent_test.even { background-color: #fff; }
td.parent_test.odd { background-color: #f4f4f4; }
td.col-parent { font-weight: bold; }
td.debug.even { background-color: #fff; }
td.debug.odd { background-color: #f4f4f4; }
div.log pre { padding-left: 0.5em; padding-right: 0.5em; max-width: 600px; white-space: pre-wrap; }
